body{
    background: #F1F2FB;
}
*{
    outline: none;
}
.gallery-wrapper{
    width: 743px;
    height: 709px;
    background-color: #fff;
    padding: 30px 0 0 0;
    border-radius: 10px;
}
.gallery-slider-nav img{
    height: 83px;
    object-fit: cover;
}
.nav-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gallery-slider-nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    position: relative;
    margin:0;
}
.gallery-slider-nav ul li{
    width: 113px !important;
    height: 83px;
    background: #FFFFFF;
    margin: 0 2px 0 0;
    outline: none;
}
.gallery-slider-nav ul li:nth-child(n+7){
    display: none;
}
.gallery-slider-nav ul li button{
    font-size: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    border: none;
    outline: none;
}
.gallery-slider-nav ul li:not(.slick-active){
    opacity: .5;
}
.gallery-slider-nav ul li.slick-active{
    border: 2px solid #FAFAFA;
    box-sizing: border-box;
}

.gallery-button{
    width: 67px;
    height: 79px;
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    color: #F00000;
    text-decoration: underline;
    cursor: pointer;
}
.gallery-slider-nav{
    position: relative;
    width: 672px;
}

.gallery-slider-nav .slick-track{
    display: flex;
}
.gallery-slider-nav .slick-list{
    overflow: hidden;
}
.gallery-slider{
    position: relative;
    margin-bottom: 9px;
    z-index: 1;
}
.gallery-slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin-top: -30.5px;
    z-index: 999;
    width: 30px;
    height: 61px;
    font-size: 0;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    outline: none;
}
.gallery-slider .slick-prev{
    left:0;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-image: url(../img/prev.png);
    background-position: 40% center;
    background-repeat: no-repeat;
}
.gallery-slider .slick-next{
    right: 0;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-image: url(../img/next.png);
    background-position: 60% center;
    background-repeat: no-repeat;
}
.gallery-slider .slick-track{
    display: flex;
}
.gallery-slider .slick-list{
    overflow: hidden;
    z-index: 3;
    position: relative;
}
.gallery-slider-nav .slick-slide{
    margin: 0 0 0 2px;
    width: 110px !important;
    box-sizing: border-box;
    outline: none;
}
.gallery-slider-nav .slick-slide:not(.slick-current){
    opacity: .5;
    
}
.gallery-slider-nav .slick-current{
    border: 2px solid #FAFAFA;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal__content {
    height: 789px;
    width: 1328px;
    border-radius: 5px;
    background-color: #fff;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-bottom: 100px;
    border:none;
    position: relative;
}
.modal__gallery-slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1020px;
}
.modal__gallery-slider{
    position: relative;
    z-index: 1;
    width: 947px;
}
.modal__gallery-slider .slick-slide{
    width: 947px !important;
    height: 710px;
}
.modal__gallery-slider .slick-track{
    display: flex;
    position: relative;
    z-index: 2;
}
.modal__gallery-slider .slick-list{
    overflow: hidden;
}
.modal__gallery-slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin-top: -30.5px;
    z-index: 999;
    width: 30px;
    height: 61px;
    font-size: 0;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    outline: none;
}
.modal__gallery-slider .slick-prev{
    left:0;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-image: url(../img/prev.png);
    background-position: 40% center;
    background-repeat: no-repeat;
}
.modal__gallery-slider .slick-next{
    right: 0;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-image: url(../img/next.png);
    background-position: 60% center;
    background-repeat: no-repeat;
}
.modal__gallery-slider-nav-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 308px;
    border-left: 2px solid #ABABAB;
    position: relative;
}
.modal__gallery-slider-nav{
    right: 0;
    width: 235px;
    height: 749px;
    position: relative;
    overflow-y: scroll;
    overflow-x:hidden;
}
.modal__gallery-slider-nav .slick-track{
    display: flex;
    flex-wrap: wrap;
}
.modal__gallery-slider-nav .slick-list{
    overflow: hidden;
}
.modal__gallery-slider-nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    position: relative;
    min-height: 100%
}
.modal__gallery-slider-nav ul li{
    width: 113px !important;
    height: 77px;
    background: #FFFFFF;
    border: 2px solid #ABABAB;
    box-sizing: border-box;
    margin-bottom: 8px;
    padding: 3.5px;
    outline: none;
}
.modal__gallery-slider-nav::-webkit-scrollbar { 
    width: 0; 
}
.modal__gallery-slider-nav ul li button{
    font-size: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    border: none;
    outline: none;
}
.modal__gallery-slider-nav ul li.slick-active{
    border-color: #F00000;
}
.modal__gallery-slider-nav ul li:nth-child(odd){
    margin-right: 9px;
}
.modal__gallery-slider-nav-container .prev, .modal__gallery-slider-nav-container .next{
    position: absolute;
    left: 0;
    z-index: 999;
    width: 307px;
    height: 77px;
    font-size: 0;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    outline: none;
}
.modal__gallery-slider-nav-container .slick-disabled{
    display: none !important;
}
.modal__gallery-slider-nav-container  .prev{
    top:0;
    background-image: url(../img/top_block.png);
    display: none;
}
.modal__gallery-slider-nav-container  .next{
    bottom: 0;
    background-image: url(../img/downpng.png);
    background-position: center;
}
@media (max-width:768px){
    .gallery-wrapper{
        width: 327px;
        height: 340px;
        padding: 13.5px 0 0 0;
    }
    .gallery-slider{
        margin-bottom: 5px;
    }
    .gallery-slider .slick-slide{
        width: 327px !important;
        height: 245px !important;
    }
    .gallery-slider-nav ul li{
        width: 88px !important;
        height: 66px !important;
    }
    .gallery-slider-nav ul li:nth-child(n+4){
        display: none
    }
    .gallery-slider-nav{
        width: 268px;
    }
    .gallery-button{
        width: 54px;
        height: 64px;
    }
    .gallery-slider .slick-arrow{
        height: 39px;
        width: 19px;
    }
}
@media (max-width:481px){
    .gallery-slider-nav ul li{
        width: 110px !important;
        height: 83px !important;
        margin: 0;
    }
    .gallery-slider-nav ul li:nth-child(n+3){
        display: none;
        
    }
    .gallery-slider-nav{
        width: 220px;
    }
    .gallery-button{
        width: 67px;
        height: 79px;
        margin-left: 4px;
    }
    .nav-row{
        justify-content: center;
    }
}
