.container{
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
}
.header__body{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.header__body__group-high{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
.header__menu {
    border-bottom: 1px solid #CDCDCD;
}
.header__list {
    display: flex;
    padding: 15px 0;
}
.header__link-active{
    border-bottom: 1px solid #475DA8;
    padding-bottom: 15px;
    color: #2D3BAC;
    text-decoration: none;
    font-weight: 700;
}
.header__link {
    margin-right: 0px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #151515;
}
.header__burger{
    display: none;
}
.header__body__group-down{
    display: flex;
    align-items: center;
}
.header__phone {
    background: url(../img/phone.svg) no-repeat left;
    padding-left: 20px;
    padding-right: 20px;
}
.header__phone-button {
    text-decoration: none;
    color: #000;
}
.header__button-call {
    text-decoration: none;
    color: #fff;
    background: #7FC14C;
    padding: 15px 50px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .05em;
    border-radius: 18px;
}
.tablet__menu {
    border-bottom: 1px solid #CDCDCD;
    width: 601px;
    margin: 0 auto;
    display: none;
}

















@media screen and (max-width: 1380px){
    .header__body__group-high{
        width: 30%;
    }
    .header__menu, .footer__menu{
        display: none;
    }
    .tablet__menu, .footer__tablet__menu{
        display: block;
    }
    .tablet__menu {
        display: none;
        }
}


@media screen and (max-width: 630px){
    .header__body{
        flex-direction: column;
    }
    .header__body__group-high{
        width: 100%;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 15px;
    }
    .header__burger:before, .header__burger:after {
        content: '';
        background-color: #151515;
        position: absolute;
        width: 100%;
        height: 2px;
        right: 0;
        border-radius: 2px;
    }
    .header__burger:before{
        top: 0;
        width: 80%;
        height: 2px;
    }
    .header__burger:after{
        top: 6.5px;
    }
    .footer__button, .header__button {
        display: none;
    }
}    