body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none; 
}
.header__burger span {
    position: absolute;
    background-color: #151515;
    right: 0;
    width: 70%;
    height: 2px;
    bottom: 0;
    border-radius: 2px;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
}
.header__body{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.header__body__group-high{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}
.header__menu {
    border-bottom: 1px solid #CDCDCD;
}
.header__list {
    display: flex;
    padding: 15px 0;
}
.header__link-active{
    border-bottom: 1px solid #475DA8;
    padding-bottom: 15px;
    color: #2D3BAC;
    text-decoration: none;
    font-weight: 700;
}
.header__link {
    margin-right: 0px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #151515;
}
.header__burger{
    display: none;
}
.header__body__group-down{
    display: flex;
    align-items: center;
}
.header__phone {
    background: url(../img/phone.svg) no-repeat left;
    padding-left: 20px;
    padding-right: 20px;
}
.header__phone-button {
    text-decoration: none;
    color: #000;
}
.header__button-call {
    text-decoration: none;
    color: #fff;
    background: #7FC14C;
    padding: 15px 50px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .05em;
    border-radius: 18px;
}
.tablet__menu {
    border-bottom: 1px solid #CDCDCD;
    width: 601px;
    margin: 0 auto;
    display: none;
}

.header__list li:nth-child(1) {
    margin-right: 20px;
}
.header__list li:nth-child(2) {
    margin-right: 20px;
}
.header__list li:nth-child(3) {
    margin-right: 20px;
}
.header__list li:nth-child(4) {
    margin-right: 20px;
}
.header__list li:nth-child(5) {
    margin-right: 20px;
}
.header__list li:nth-child(6) {
    margin-right: 20px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content*/ 
  .modal-content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  .modal-header{
      padding: 0 0 40px 0;
  }
  
  /* The Close Button */
  .close {
      margin-right: 20px;
    color: #2F3BAC;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .modal-body {
    padding: 2px 16px;
    border-radius: 10px;
    flex-direction: column;
}
  

    .modal-body__link{
        text-decoration: none;
        color: #151515;
    }
    .modal-body p{
        border-bottom: 1px solid #DFDFDF;
        padding: 5px 0;
        font-weight: 700;   
    }
    .modal-body__link-active {
        color: #2F3BAC; 
        text-decoration: none;
    }
    .modal-body p:nth-child(6){
        border: none;  
    }















@media screen and (max-width: 1380px){
    .header__body__group-high{
        width: 30%;
    }
    .header__menu, .footer__menu{
        display: none;
    }
    .tablet__menu, .footer__tablet__menu{
        display: block;
    }
    .tablet__menu {
        display: none;
        }
}


@media screen and (max-width: 630px){
    .header__body{
        flex-direction: column;
    }
    .header__body__group-high{
        width: 100%;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 15px;
    }
    .header__burger:before, .header__burger:after {
        content: '';
        background-color: #151515;
        position: absolute;
        width: 100%;
        height: 2px;
        right: 0;
        border-radius: 2px;
    }
    .header__burger:before{
        top: 0;
        width: 80%;
        height: 2px;
    }
    .header__burger:after{
        top: 6.5px;
    }
    .footer__button, .header__button {
        display: none;
    }
}    